<html>
<head>
    @Styles.Render("~/Content/LoginCss")
</head>
<body>
    <div id="first">
        <div class="Name">
            Eat For Health
        </div>
        <div class="Aaa">
            <img src="~/Content/image/2-Week-Diet.jpg" width="70%" alt="Image" />
        </div>
        <div class="bbb">
            adasdadsad
        </div>
    </div>
</body>
</html>