<html>
<head>
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <script>
        function register() {
            location.href = 'Register';
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="first">
            <div class="Name">
                Eat For Health
            </div>
            <div class="LoginImage">  </div>
            <div class="Information">
                @using (Ajax.BeginForm("Index", "Recipe", new AjaxOptions()
                {
                    HttpMethod = "post",
                    UpdateTargetId = "Information"
                }))
                {
                    <div class="uname">
                        <label style="margin-right: 20px">Username:     </label>
                        <input id="uname" type="text" name="username" />
                    </div>
                    <div class="pwd">
                        <label style="margin-right: 5px">  Password:     </label>
                        <input id="pwd" type="password" name="password" style="margin-left:25px" />
                    </div>
                    <div class="buttons">
                        <input type="submit" id="btnLogin" name="btnLogin" value="login" style="margin-right: 20px" />
                        <input type="button" id="btnReg" name="btnReg" value="register" onclick="register()" style="margin-left: 20px" />
                    </div>
                }
            </div>
        </div>
        <div id="second">
            <div class="Recipe">

            </div>
        </div>
    </div>
</body>
</html>